.timeInputWrapper {
  position: relative;
}

.timeInput {
  background-color: transparent;
  color: white;
  padding: 12px 14px;
  border-radius: 12px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  width: 140px;
  padding-right: 40px;
  font-size: 14px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.timeInput:focus {
  border: 1px solid #0ef387;
  outline: none;
  transition: border-color 0.2s ease;
}

.timeInput::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}
.timeInput::-moz-calendar-picker-indicator {
  opacity: 0;
  display: none;
}
.timeInput {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.timeRelative {
  position: relative;
}

.timeOutline {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  stroke: #fafafa;
  cursor: pointer;
  transition: stroke 0.2s ease;
}

.timeOutline:hover {
  stroke: #0ef387;
}

.nameInput {
  margin-bottom: 6px;
}

@media screen and (min-width: 768px) {
  .timeInput {
    width: 221px;
    padding: 12px 18px;
  }

  .nameInput {
    margin-bottom: 8px;
  }
  .timeOutline {
    right: 18px;
  }
}
