.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 335px;
  height: 260px;
  position: relative;
  background: #171719;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  border: 1px solid rgba(250, 250, 250, 0.1);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

.text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.closeBtn {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 1440px) {
  .modal {
    width: 500px;
    height: 266px;
  }

  text {
    font-size: 16px;
  }

  .closeBtn {
    width: 24px;
    height: 24px;
  }
}
