.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #171719;
  border: none;
  cursor: pointer;
  padding: 6px 16px;
  margin-right: 98px;
  border-radius: 30px;
  user-select: none;
  width: 220px;
  height: 56px;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.initial {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #4a90e2;
  color: white;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userName {
  font-size: 16px;
  color: #333;
}

.chevronIcon {
  width: 20px;
  height: 20px;
  fill: none;
  margin-right: 16px;
}
