.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.wrapper {
  width: 500px;
  height: 477px;
  border-radius: 30px;
  background: #171719;
  border: 1px solid rgba(250, 250, 250, 0.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  position: relative;
  padding: 20px 40px;
}

.closeBtn {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 4px;
}

.closeIcon {
  width: 24px;
  height: 24px;
  stroke: #ffffff;
}

.closeIcon:focus,
.closeIcon:hover {
  border: 1px solid #ffffff;
  border-radius: 40px;
}

.wrapper h2 {
  font-size: 28px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 38px;
}

.userAvatarWrapper,
img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 1px solid #0ef387;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  background: rgba(12, 13, 13, 0.5);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.avatar-field {
  align-items: center;
}

.avatarButtonsWrapper {
  width: 218px;
  height: 31px;
  display: flex;
  gap: 8px;
}

.avatarButtons {
  padding: 8px 16px;
  font-size: 12px;
  letter-spacing: -0.02em;
}

.inputs {
  display: flex;
  gap: 4px;
}

.field {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.field input[type="text"],
.field select {
  font-size: 16px;
  color: #fafafa;
  outline: none;
  transition: border-color 0.2s ease;
  background-color: #171719;
  border: 1px solid rgba(250, 250, 250, 0.4);
  border-radius: 12px;
  padding: 12px 18px;
}

select.option {
  background: #0c0d0d;
}

.field input[type="text"]:focus,
.field select:focus {
  border-color: #0ebb69;
}

select {
  border: 1px solid rgba(250, 250, 250, 0.4);
  border-radius: 12px;
  width: 124px;
  height: 48px;
}

.saveButton {
  width: 420px;
  height: 47px;
}
