.wrapper {
  background-color: black;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.centerButtons {
  color: white;
  display: flex;
  gap: 16px;
}

button {
  color: #fff;
}

.userBarBtn {
  color: white;
}
