.wrapper {
  background-color: black;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoText {
  color: white;
  font-size: 30px;
}

.centerButtons {
  color: white;
}

button {
  color: #fff;
}

.userBar {
  color: white;
}
