.scroll::-webkit-scrollbar-thumb {
  background-color: #444446;
  border-radius: 12px;
}

/* For TransactionChart */
.scrollA::-webkit-scrollbar {
  width: 6px;
}
.scrollA::-webkit-scrollbar-track {
  background-color: var(--background-color);
}

/* For Modal EditCategories, HistoryTransactions */
.scrollB::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.scrollB::-webkit-scrollbar-track {
  background-color: transparent;
}
.scrollС::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
.scrollC::-webkit-scrollbar-track {
  background-color: transparent;
}
