:root {
  /*  Backgrounds */
  --color-bg-primary: #0c0d0d; /* main background */
  --color-bg-secondary: #171719; /* forms, sections */
  --color-bg-tertiary: #29292b; /* secondary buttons */
  --color-bg-button-dark: #0c0d0d; /* tertiary buttons */
  --color-bg-backdrop: rgba(12, 13, 13, 0.6); /* modal backdrop */

  /* Accents */
  --color-accent-primary: #0ef387; /* main accent color */
  --color-accent-primary-hover: #0ebb69; /* main accent hover color */

  /* Borders */
  --color-border-form: rgba(250, 250, 250, 0.1); /* form border */
  --color-border-input: rgba(250, 250, 250, 0.2); /* input border */
  --color-border-button: rgba(250, 250, 250, 0.4); /* button border */

  /*  Typography */
  --color-text-primary: #fafafa; /* primary text */
  --color-text-secondary: rgba(250, 250, 250, 0.5); /* secondary text */
  --color-text-muted: rgba(250, 250, 250, 0.4); /* captions, descriptions */
  --color-text-low: rgba(250, 250, 250, 0.6); /* less common text */
  --color-text-button-primary: #0c0d0d; /* text on green but    ton */

  /* UI */
  --font-family-main: "Inter", sans-serif;

  --btn-transition: 0.3s ease;
}
