.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoIcon {
  width: 27px;
  height: 16px;
  margin-left: 24px;
}

.logoText {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fafafa;
}
