.radioGroup {
  display: flex;
  justify-content: start;
  gap: 20px;
}

.radioLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  cursor: pointer;
}

.radioSpan {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
  font-family: var(--font-family);
}

.radioButton {
  color: rgba(250, 250, 250, 0.2);
}

.radioButtonActive {
  color: #0ef387;
  transition: color 0.2s ease;
}

.radioLabel input[type="radio"] {
  display: none;
}
