.section {
  padding-top: 64px;
  padding-bottom: 80px;
}

/* Tablet ≥ 768px */
/* @media (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 80px;
  }
} */

/* Desktop ≥ 1280px */
/* @media (min-width: 1280px) {
  .section {
    padding-top: 64px;
    padding-bottom: 64px;
  }
} */
