/* === БАЗОВІ СТИЛІ === */
.wrapper {
  width: 100%;

  margin: auto;
  /* padding: 20px 16px; */
  background: #171719;
  /* border-radius: 30px; */
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  box-sizing: border-box;
}

/* === ТАБЛИЦЯ === */
.tableWrapper {
  /* flex: 1; */
  padding-right: 20px;
  padding-left: 20px;
  overflow-y: auto;
  max-height: 500px;

  margin-bottom: 20px;
}
.list {
  height: 500px;
  overflow-y: auto;
}
.listItem {
  margin-bottom: 20px;
}

.table {
  display: table;
  width: 100%;
  table-layout: fixed;
}

th,
td {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

thead {
  height: 53px;
}

thead tr {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px 30px 18px 20px;
}

/* ==== Заголовок (sticky) ==== */
thead th {
  position: sticky;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(250, 250, 250, 0.4);
  font: 12px/1 "Inter", sans-serif;
  text-align: start;
  padding: 16px;
  white-space: nowrap;
  z-index: 2;
}

/* ==== Тіло таблиці зі скролом ==== */
tbody {
  display: block;
  max-height: 340px;
  overflow-y: auto;
  overflow-x: hidden;
}

tbody tr {
  display: flex;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding: 20px 30px 18px 20px;
  align-items: center;
}

tbody td {
  font: 14px/1 "Inter", sans-serif;
  color: #fafafa;
  flex: 0 0 68px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: start;
  align-items: center;
  padding-right: 16px;

  box-sizing: border-box;
}

.actions {
  min-width: 96px;
  display: flex;
  align-items: center;
}

thead .actions {
  flex: 0 0 96px;
}

tbody .actions {
  flex: 0 0 96px;
  display: flex;
  gap: 8px;
  align-items: center;
}

/* Кнопки */
.editBtn,
.deleteBtn {
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.editBtn {
  background: #0ef387;
  color: #0c0d0d;
}

.deleteBtn {
  background: #0c0d0d;
  color: #fafafa;
}

.editBtn:hover {
  background: #0ebb69;
}

.deleteBtn:hover {
  border: 1px solid #0ef387;
}

/* === СКРОЛ === */
tbody::-webkit-scrollbar {
  width: 6px;
}
tbody::-webkit-scrollbar-track {
  background: rgba(250, 250, 250, 0.1);
  border-radius: 12px;
}
tbody::-webkit-scrollbar-thumb {
  background: rgba(250, 250, 250, 0.2);
  border-radius: 12px;
}
tbody::-webkit-scrollbar-thumb:hover {
  background: rgba(250, 250, 250, 0.6);
}

.btnEditText,
.btnDeleteText {
  display: none;
}

/* ================= Tablet (≥768px) ================= */
@media screen and (min-width: 768px) {
  .wrapper {
    /* min-width: 704px; */
    /* height: 544px; */
    /* padding: 32px; */
    /* gap: 16px; */
    padding-left: 32px;
    padding-right: 34px;
  }

  /* =================== vertical scroll ======================== */
  .tableWrapper {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 -5px;
  }

  thead th {
    position: sticky;
    top: 0;
    z-index: 2;
  }

  tbody::-webkit-scrollbar {
    width: 6px;
  }
  tbody::-webkit-scrollbar-track {
    background: rgba(250, 250, 250, 0.1);
    border-radius: 12px;
  }
  tbody::-webkit-scrollbar-thumb {
    background: rgba(250, 250, 250, 0.2);
    border-radius: 12px;
  }
  tbody::-webkit-scrollbar-thumb:hover {
    background: rgba(250, 250, 250, 0.6);
  }
}
/* =========================================================== */
.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

thead {
  height: 60px;
}

thead tr {
  /* padding: 20px 73px 20px 32px; */
}
tbody tr {
  /* padding: 20px 73px 20px 32px; */
}

thead th {
  flex: 1 0 104px;
  padding-right: 36px;
  font-size: 16px;
}

tbody td {
  flex: 1 0 104px;
  padding-right: 6px;
  font-size: 20px;
}

thead .actions,
tbody .actions {
  flex: 0 0 104px;
}

.editBtn,
.deleteBtn {
  width: 44px;
  height: 44px;
}

/* ======================= DESKTOP (≥1440px) ================== */
@media screen and (min-width: 1440px) {
  .wrapper {
    /* min-width: 1240px; */
    height: 440px;
    /* padding: 20px 40px; */
    gap: 20px;
    padding-left: 40px;
    padding-right: 66px;
  }

  thead tr {
    /* padding: 20px 270px 20px 40px; */
  }

  tbody tr {
    /* padding: 20px 270px 20px 40px; */
  }

  thead th {
    flex: 1 0 160px;
    padding-right: 0;
  }

  tbody td {
    flex: 1 0 160px;
    padding-right: 0;
  }

  .actions {
    min-width: 261px;
  }

  thead .actions,
  tbody .actions {
    flex: 0 0 261px;
  }

  .editBtn,
  .deleteBtn {
    width: 119px;
    height: 47px;
    padding: 14px 32px;
    border-radius: 40px;
    font-size: 16px;
  }

  .deleteBtn {
    width: 134px;
  }

  .btnEditText,
  .btnDeleteText {
    display: inline;
    margin-left: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #fafafa;
  }

  .btnEditText {
    color: #0c0d0d;
  }
}
